@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100dvh;
  margin: 0px;
  padding: 0px;
  overflow: hidden auto;
  font-family: Nunito Sans, sans-serif;
}

body.modal-open {
  position: fixed;
  overflow-y: hidden;
}

p,
span,
button,
input {
  letter-spacing: 0.035em;
}

.no-tap-highlighting {
  -webkit-tap-highlight-color: transparent;
}

.flag-skeleton-container span:first-child {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.fade-in {
  opacity: 0;
  animation: fade-in 0.7s ease-in forwards;
}

.slide-up {
  opacity: 1;
  bottom: 25px;
  animation-timing-function: ease-in;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
